// @import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700)

$screen-small: 480px
$screen-medium: 768px
$screen-large: 1140px

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

=shadow($style)
  -webkit-box-shadow:  $style
  -moz-box-shadow:  $style
  box-shadow: $style


@import normalize

html
  font-family: 'Merriweather Sans', sans-serif

body
  width: 100%

a, a:visited, a:active
  color: black
  text-decoration: none

.logo
  position: absolute
  z-index: 100
  //border: 5px solid green
  overflow: auto
  overflow-y: hidden
  top: 10vh
  left: 50vw
  transform: translate(-50%, 0%)
  background: white
  +border-radius(15vw)
  +shadow(0px 5px 10px #222)
  &:hover
    +shadow(0px 7px 15px #000)


.logo > img
  width: 20vh
  height: 20vh
  max-height: 20vw
  max-width: 20vw
  border: 1px solid white
  padding: 5vw
  @media (max-width: $screen-medium)
    width: 25vh
    height: 25vh
    max-height: 25vw
    max-width: 25vw
  @media (max-width: $screen-small)
    width: 30vh
    height: 30vh
    max-height: 30vw
    max-width: 30vw


.parallax
  height: 100vh
  overflow-x: hidden
  overflow-y: auto
  perspective: 1px

=parallax_layer
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  padding: 50vh 0

.parallax_foreground
  +parallax_layer
  transform: translateZ(0)
  margin-top: 90vh
  //border: 1px solid red
  // background: white
  background:
    size: cover
    image: url("../img/polargrid-nq8.png")
    position: center center
    repeat: no-repeat
  +shadow(0px -15px 15px rgba(255, 255, 255, 0.50))

.parallax_background
  +parallax_layer
  transform: translateZ(-1px) scale(2)
  top: -10vh
  background:
    size: cover
    image: url("../img/Guangzhou_dusk_panorama.jpg")
    position: 35% center
    repeat: no-repeat

/* center parallax layer content */
=center
  position: absolute
  left: 50%
  //top: 50%
  transform: translate(-50%, 0%)

.title
  +center
  width: 100%
  top: 55vh
  text-align: center
  background: transparent
  line-height: 2.5
  //border: 1px solid red
  font:
    size: 250%
    weight: bold
  @media (max-width: $screen-medium)
    font-size: 200%
  @media (max-width: $screen-small)
    font-size: 150%

footer>a
  background: white
  padding: 5px
  +border-radius(5px)

a.join, .title>div>span
  background: white
  padding: 15px
  @media (max-width: $screen-small)
    padding: 5px
  color: black
  +border-radius(10px)
  +shadow(0px 5px 10px #222)

a.join:hover
  color: white
  background: black
  +shadow(0px 7px 15px #000)

footer
  position: relative
  bottom: 1vh
  +center

