-# coding: utf-8
!!! 5
%html
  %head
    %meta(http-equiv = 'Content-Type'  content = 'text/html; charset=utf-8')
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  %body
    %div
      %a(href="index.html") Zurück
    %h1 Offenlegung nach § 25 Mediengesetz
    %div
      %dl
        %dt Inhaber
        %dd ao.Univ.Prof. Doz. Dr. Gunther Maier
        %dt Adresse
        %dd
          Welthandelsplatz 1/D4
          %br
          1020 Vienna
          %br
          Austria
        %dt Kontakt
        %dd
          <a href="http://www.google.com/recaptcha/mailhide/d?k=019pGGMMaxzETyJwuReaf4NQ==&amp;c=K3ImzI1SAqmnvil6adz8raQ7QaeZEoPT0xvtom3jjKY=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\075019pGGMMaxzETyJwuReaf4NQ\75\75\46c\75K3ImzI1SAqmnvil6adz8raQ7QaeZEoPT0xvtom3jjKY\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">[hidden]@....ac.at</a>

    %h1 Credits
    %div
      %dl
        %dt
          %code
            %a(href="img/Guangzhou_dusk_panorama.jpg") Guangzhou_dusk_panorama.jpg
        %dd
          %a(href="https://commons.wikimedia.org/wiki/File:Guangzhou_dusk_panorama.jpg") CC BY-SA 3.0, Author: chensiyuan
