!!! 5
%html
  %head
    %link(rel="stylesheet" type="text/css" href="static/style.css")

  %body
    %div.topbar
      TOPBAR

    %div.parallax
      %div.parallax_background
        %img.logo(src="img/up++logo.png")

      %div.parallax_foreground
        %div.title title goes here

        %div.title This is the foreground



