!!! 5
%html
  %head
    %link(rel="stylesheet" type="text/css" href="static/style.css")

  %body
    %div.topbar
      TOPBAR

    %div.parallax
      %div.parallax_background
        %div.title This is the background

      %div.parallax_foreground
        %div.logo LOGO GOES HERE

        %div.title This is the foreground



